<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070521321846-ko8pfb9r9p3tf58iu77spfil56165pfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070521321846-ko8pfb9r9p3tf58iu77spfil56165pfd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070521321846-ptv3vnht22db2j7rnt2cvpu7pqjn2bfa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMTL2djT_28z0yvi4uZ6S2TZ_RSuEHJ9I</string>
	<key>GCM_SENDER_ID</key>
	<string>1070521321846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070521321846:ios:56c0938959d7386d615257</string>
</dict>
</plist>